/*margin-right: 4px;
      font-size: 16px;
    }
  }
}*/

.code-container {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 4px;
  padding: 8px 12px;
  margin-bottom: 16px;
  
  .code {
    flex: 1;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    color: var(--ion-color-primary);
  }
  
  ion-button {
    margin: 0;
  }
}